#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [2]:
users = pd.read_csv(r"./users.csv")

In [3]:
posts = pd.read_csv(r"./posts.csv")

#### 3. Rename id column to user_id

In [4]:
users.head()

,Unnamed: 0,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,0,107658,ivordesign,NaN,NaN,2009-05-15 12:21:51.230000+00:00,2014-08-28 17:43:18.040000+00:00,United Kingdom,305,2,0,91,NaN,http://www.ivorthedesigner.co.uk
1,1,218597,icabod,NaN,NaN,2009-11-25 13:30:42.460000+00:00,2020-05-29 11:44:18.140000+00:00,United Kingdom,6559,361,25,374,NaN,http://icablog.org/
2,2,326360,rbaker86,<p>Software developer and technology enthusias...,NaN,2010-04-26 21:18:19.857000+00:00,2017-12-04 16:49:29.297000+00:00,United Kingdom,1802,40,14,97,NaN,http://na
3,3,379556,Rui Marques,<p>Engineer and Automation Architect at Vonage...,NaN,2010-06-29 23:32:49.870000+00:00,2020-05-28 14:49:23.427000+00:00,United Kingdom,2335,125,10,261,NaN,http://ruimarques.io
4,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com

In [5]:
users.rename(columns = {'id':'user_id'},inplace = True)

In [6]:
users.head()

,Unnamed: 0,user_id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,0,107658,ivordesign,NaN,NaN,2009-05-15 12:21:51.230000+00:00,2014-08-28 17:43:18.040000+00:00,United Kingdom,305,2,0,91,NaN,http://www.ivorthedesigner.co.uk
1,1,218597,icabod,NaN,NaN,2009-11-25 13:30:42.460000+00:00,2020-05-29 11:44:18.140000+00:00,United Kingdom,6559,361,25,374,NaN,http://icablog.org/
2,2,326360,rbaker86,<p>Software developer and technology enthusias...,NaN,2010-04-26 21:18:19.857000+00:00,2017-12-04 16:49:29.297000+00:00,United Kingdom,1802,40,14,97,NaN,http://na
3,3,379556,Rui Marques,<p>Engineer and Automation Architect at Vonage...,NaN,2010-06-29 23:32:49.870000+00:00,2020-05-28 14:49:23.427000+00:00,United Kingdom,2335,125,10,261,NaN,http://ruimarques.io
4,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com

#### 4. Rename id column to post_id and owner_user_id to user_id

In [7]:
posts.head()

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  30336926            NaN      1          14              3             NaN
1  36873524            NaN      1          18              0             1.0
2  36605876            NaN      1          19              0             NaN
3  36718461            NaN      1          17              0             NaN
4  30434893            NaN      0          15              0             NaN

In [8]:
posts.rename(columns = {'id':'post_id', "owner_user_id":"user_id"},inplace = True)

In [9]:
posts.head()

    post_id  user_id  score  view_count  comment_count  favorite_count
0  30336926      NaN      1          14              3             NaN
1  36873524      NaN      1          18              0             1.0
2  36605876      NaN      1          19              0             NaN
3  36718461      NaN      1          17              0             NaN
4  30434893      NaN      0          15              0             NaN

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [10]:
users = users.reindex(columns = ["user_id","reputation","views","up_votes","down_votes"])

In [11]:
posts = posts.reindex(columns = ["post_id", "score","user_id","view_count","comment_count"])

In [12]:
users.shape

(14848, 5)

In [13]:
posts.shape

(325610, 5)

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [14]:
merged_dataframe = pd.merge(users,posts,on="user_id")

#### 7. How many missing values do you have in your merged dataframe?

In [16]:
merged_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1065 entries, 0 to 1064
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        1065 non-null   int64
 1   reputation     1065 non-null   int64
 2   views          1065 non-null   int64
 3   up_votes       1065 non-null   int64
 4   down_votes     1065 non-null   int64
 5   post_id        1065 non-null   int64
 6   score          1065 non-null   int64
 7   view_count     1065 non-null   int64
 8   comment_count  1065 non-null   int64
dtypes: int64(9)
memory usage: 83.2 KB

In [18]:
merged_dataframe.isna().value_counts()

user_id  reputation  views  up_votes  down_votes  post_id  score  view_count  comment_count
False    False       False  False     False       False    False  False       False            1065
dtype: int64

There are no missing values

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!